body {
  font-family: 'Lato', sans-serif;
}

:root {
  --main-red: #e52d27;
  --main-white: #ffffff;
}

.img-height {
  height: 200px;
}

hr {
  border-top: 2px solid var(--main-red);
}
strong {
  color: var(--main-red);
}
.white-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.fa-arrow-right {
  margin-left: 5px;
  color: #3F3F3F;
 }
 .image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-background {
  background: #1C1C1C;
  height: 100px;
  transition: 1s;
  border-bottom: 5px solid var(--main-red);
}

.shrink-logo {
  height: 75px;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
}

nav li a:hover {
  color: var(--main-red);
}
li .active {
  font-weight: bold;
  color: var(--main-red);
}
#myNavbar {
  margin-top: 20px;
}

#homepage-hero {
  background: url("../img/hero_img4.jpg") no-repeat;
  height: 550px;
  padding: 0px;
  background-size: cover;
  color:var(--main-white);
}
#homepage-hero .container {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepage-hero h1 {
  color: var(--main-white);
  font-weight: bold;
  font-size: 48px;
}

#homepage-hero .btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fffbfb !important;
  outline:none;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 24px;
  padding: 18px 24px;
  transition:0.2s;
}
.tuffskin_header .btn-primary:hover {
  background-color:rgba(255,255,255,0.1);
}
.tuffskin_header .btn-primary:active {
  transform:translateY(1px);
}
.spacer {
  background: #e52d27;  
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
  background: linear-gradient(to right, #b31217, #e52d27);  
  height:10px;
}
/*Service Display*/

.service_Icons {
    padding: 0px 10px 0px 10px;
}
#service-icons h2 {
  margin-top: 0px;
  color: #3F3F3F;
}
.service_Icons:hover {
    transform: scale(1.1);
}
.grey-container {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  padding: 30px;
  color: var(--main-white);
}
.learnMoreBtn {
    color: #3F3F3F;
    background-color: transparent;
    border-color: var(--main-red) !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 18px;
    padding: 14px 20px;
    transition:0.2s;
    display: block;
    margin: 0 auto;
}
.learnMoreBtn:hover{
    background: var(--main-red);
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
    background: linear-gradient(to right, #b31217, #e52d27);
    color:var(--main-white);
}
.aboutUsBtn {
    color: var(--main-white);
    background-color: transparent;
    border-color: var(--main-red) !important;
    outline:none;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 18px;
    padding: 14px 20px;
    transition:0.2s;
    display: block;
    margin: 0 auto;
}
.aboutUsBtn:hover {
    background: #e52d27; 
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
    background: linear-gradient(to right, #b31217, #e52d27);
    color:var(--main-white);
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

/*Request A Quote Banner */
.request-banner {
  background: var(--main-red); 
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
  background: linear-gradient(to right, #b31217, #e52d27);  
  color: var(--main-white);
  padding: 20px;
}

/*Process section*/

#process-section {
  margin-top: 30px;
}
#process-section h3, #process-section h2 {
  color:#3F3F3F;
}

.process-image-container {
  margin-top: 10px;
}

.see-more {
  margin-top: 10px;
}

.process-image-container h3{
  margin-top: 10px;
}

/* Footer*/
.footer-distributed{
	background-color: #1C1C1C;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding-bottom: 20px;
	padding: 70px 200px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-left div img{
    margin-top: -30px;
    height: 100px;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #252525;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  var(--main-red);
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  var(--main-white);
	font-size: 17px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

