body {
    font-family: 'Montserrat', sans-serif;
}

:root {
  --main-red: #e52d27;
  --main-white: #ffffff;
}
/*Header/Nav-Bar*/
.tuffskin_header {
    color: var(--main-white);
    background: url("../../assets/img/hero_img4.jpg") no-repeat;
    background-size: cover;
}
.image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.tuffskin_header .navbar-nav>li>a {
    color: var(--main-white);
    font-size: 18px;
    border-radius: 10px;
}

.navbar-nav>li>a {
  color: var(--main-white);
  font-size: 18px;
  border-radius: 10px;
}
.navbar {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}
#aboutUsNav {
  background-color: transparent;
}
.navbar 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}
.nav>li>a:focus,
.nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}
.navbar-nav>li {
    margin-right: 20px;
}
.navbar-nav {
   margin-top: 75px;
}
.navbar-toggle {
    background-color: transparent !important;
    margin-top: 0px;
    border: 1px solid var(--main-white);
}
.navbar-toggle .icon-bar {
    background-color: var(--main-white);
}
.navbar-brand {
    color: var(--main-white);
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.navbar-brand:hover {
    color: #ccc;
}
/*Homepage Hero class*/
.tuffskin_header .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.tuffskin_header .hero h1 {
    color: var(--main-white);
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}
.tuffskin_header .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}
.tuffskin_header .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s;
}
.tuffskin_header .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}
.tuffskin_header .btn-primary:active {
    transform:translateY(1px);
}
.spacer {
  background: #e52d27;  
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
  background: linear-gradient(to right, #b31217, #e52d27);  
  height:10px;
}
/*About us hero class*/
.hero1 {
  background: url("../../assets/img/hero_img4.jpg") no-repeat;
  height: 400px;
  background-size: cover;
  color:var(--main-white);
}
.hero1_Content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-white);
}
.hero1 h1 {
  color: var(--main-white);
  font-weight: bold;
  font-size: 48px;
}
.fa-arrow-right {
  margin-left: 5px;
  color: #777777;
 }
/*Service Display*/
#service-icons {
  margin-bottom: 40px;
}
.service_Icons {
    padding: 10px;
}
#service-icons h2 {
  margin-top: 0px;
}
.service_Icons:hover {
    transform: scale(1.1);
}
.label {
    color:black;
}

#aboutus {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding: 40px;
    color: var(--main-white);
}

.learnMoreBtn {
    color: black;
    background-color: transparent;
    border-color: var(--main-red) !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 18px;
    padding: 14px 20px;
    transition:0.2s;
    display: block;
    margin: 0 auto;
}
.learnMoreBtn:hover {
    background: #e52d27; 
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
    background: linear-gradient(to right, #b31217, #e52d27);
    color:var(--main-white);
    opacity: 0.8;
}
.learnMoreBtn:active {
    transform:translateY(1px);
}
.aboutUsBtn {
    color: var(--main-white);
    background-color: transparent;
    border-color: var(--main-red) !important;
    outline:none;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 18px;
    padding: 14px 20px;
    transition:0.2s;
    display: block;
    margin: 0 auto;
}
.aboutUsBtn:hover {
    background: #e52d27; 
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
    background: linear-gradient(to right, #b31217, #e52d27);
    color:var(--main-white);
    opacity: 0.8;
}
.learnMoreBtn:active {
    transform:translateY(1px);
}
h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

/*Request A Quote Banner */
.request-banner {
  background: var(--main-red); 
  background: -webkit-linear-gradient(to right, #b31217, #e52d27); 
  background: linear-gradient(to right, #b31217, #e52d27);  
  color: var(--main-white);
  padding: 10px;
}

.request-banner button {
  margin-top: 20px;
}

/*Process section*/

/* Footer*/
.footer-distributed{
	background-color: #252525;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding-bottom: 20px;
	padding: 70px 200px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-left div img{
    margin-top: -30px;
    height: 100px;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #252525;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  var(--main-red);
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

#openingText_AboutUs {
  width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
#openingText_AboutUs p{
  font-size: 16px
}
#openingText_AboutUs h1{
 font-size: 40px;
 color: black;
 margin-bottom: 25px;
 font-weight: bold;
}

